body, main {
  display: flex;
}
body {
	flex-direction: column;
}
main {
	flex-direction: row;
  	flex: auto;
}
article {
	flex: 2;
	background-color: lightgrey;
}
aside {
	flex: 1;
}
article, aside {
	overflow-y: auto;
}
p{
	color: red;
    border: solid orange 4px;
}
.logo{
	border: solid black 1px;
  	width: 10%;
  	height: 10%;
}
